.array{
    margin-top: 50px;
}

.bar {
    display: inline-block;
    width: 2px;
    padding: 3px;
    margin: 1px;
    background-color: bisque;   
}

nav {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

.sort_button {
    background-color: ivory;
    color: black;
    padding: 10px 25px;
    border-radius: 3px;
    margin: 5px;
    font-size: 16px;
    opacity: 1;
}

.sort_button:hover {
    background-color: dodgerblue;
    color: white;
    opacity: 1;

}

.grey_button {
    background-color: grey;
    color: black;
    padding: 10px 25px;
    border-radius: 3px;
    margin: 5px;
    font-size: 16px;
    opacity: 0.2;
}
