.array{
    margin-top: 50px;
}
.bar {
    display: inline-block;
    width: 2px;
    padding: 3px;
    margin: 1px;
    background-color: bisque;   
}


nav {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

.sortButton {
   padding: 10px 25px;
}